cff-version: 1.2.0
title: {{ project_name }}
message: >-
  If you use this software, please cite it using the
  metadata from this file.
type: software
version: 0.0.1
authors:
  - given-names: {{ given_name }}
    family-names: {{ family_name }}
    email: {{ email }}
    affiliation: TU Delft
repository-code: {{ url }}
license: {{ license }}
# identifiers:
#   - type: doi
#     value: 10.5281/zenodo.1234 # Uncomment this an replace with real DOI
