cff-version: 1.2.0
title: {{ project_name }}
message: >-
  If you use this software, please cite it using the
  metadata from this file.
type: software
version: 0.0.1
authors:
  - given-names: {{ given_name }}
{%- if family_name %}
    family-names: {{ family_name }}
{%- endif %}
    email: {{ email }}
    affiliation: TU Delft
repository-code: {{ url }}
license: {{ license }}
# identifiers:
#   - type: doi
#     value: 10.5281/zenodo.1234 # Uncomment this and replace it with a real DOI
#     # See this link for information on how to get the DOI
#     # https://github.com/NLeSC/python-template/blob/b95c8a60722694750b84a7979b6fd6beeca7deb9/template/%7B%25%20if%20HasWorkflows%20%25%7D.github%7B%25%20endif%20%25%7D/workflows/%7B%25%20if%20AddZenodo%20%25%7Dnext_steps_zenodo_issue.md%7B%25%20endif%20%25%7D.jinja
