cff-version: 1.2.0
title: {{ project_name }}
message: >-
  If you use this software, please cite it using the
  metadata from this file.
type: software
version: 0.0.1
authors:
  - given-names: {{ given_name }}
{%- if family_name %}
    family-names: {{ family_name }}
{%- endif %}
    email: {{ email }}
    affiliation: TU Delft
repository-code: {{ url }}
{%- if license in ["GPL", "BSD", "Apache", "MIT"] %}
license: >-
  {%- if license == "GPL" -%}
    GPL-3.0-or-later
  {%- elif license == "BSD" -%}
    BSD-4-Clause
  {%- elif license == "Apache" -%}
    Apache-2.0
  {%- elif license == "MIT" -%}
    MIT
  {%- endif -%}
{%- endif %}
# identifiers:
#   - type: doi
#     value: 10.5281/zenodo.1234 # Uncomment this and replace it with a real DOI
