site_name: {{ project_name }}
site_description: Documentation for {{ project_name }}
site_author: {{ full_name }}

repo_url: {{ url }}

nav:
  - Home:
      - index.md

theme:
  language: en
  icon:
    logo: fontawesome/solid/book
    {% if host=='github.com' %}repo: fontawesome/brands/github{% elif 'gitlab' in host %}repo: fontawesome/brands/gitlab{% endif %}
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tabs
    - navigation.top
    - search.highlight
  palette:  # Automatic light/dark mode: https://zensical.org/docs/setup/colors/#automatic-light-dark-mode
    - media: (prefers-color-scheme)
      toggle:
        icon: lucide/sun-moon
        name: Switch to light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      toggle:
        icon: lucide/sun
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      toggle:
        icon: lucide/moon
        name: Switch to system preference

plugins:
  - mkdocstrings:
      handlers:
        python:  # Based on recommended settings: https://mkdocstrings.github.io/python/usage/#recommended-settings
          paths: [src]
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            # Docstrings
            docstring_options:
              ignore_init_summary: true
            docstring_section_style: list
            # Cross referencing
            relative_crossrefs: true
            scoped_crossrefs: true
            signature_crossrefs: true
            unwrap_annotated: true
            # Members
            inherited_members: true
            summary: true
            # Headings
            heading_level: 1
            parameter_headings: true
            type_parameter_headings: true
            show_root_heading: false
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            # Signatures
            merge_init_into_class: true
            separate_signature: true
            show_signature_annotations: true
            show_signature_type_parameters: true
            # Other
            backlinks: tree
            show_bases: false
            show_inheritance_diagram: true
